.container
  .room.grainger
    span(class = "name") Grainger: 
    span(class = "occupancy") 700 
    | people
  .room.eceb
    span(class = "name") ECEB: 
    span(class = "occupancy") 400 
    | people
  .room.union
    span(class = "name") Union: 
    span(class = "occupancy") 234 
    | people
  .room.crce
    span(class = "name") CRCE: 
    span(class = "occupancy") 356 
    | people
      
