@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.room {
  margin: 10px 0;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;}
  .room .name {
    font-size: 20px;
    font-weight: bold; }

body {
  background: #eee; }
.authorship {
  font-size: 10px;
}
